<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Bristle</title>
  <link rel="stylesheet" href="style.css" />
  <!-- Optional: favicon -->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.css">
<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.4/dist/semantic.min.js"></script>
<body>
<div class="ui secondary  menu">
  <a class="item" href="/">
    Home
  </a>
  <a class="active item" href="#">
    Login
  </a>
    <div class="right menu">
  {{ if .storeId }}
  <a class="item" href="/store">
    Dashboard
  </a>

  {{ end }}
 
    <div class="item">
   <a class="item">
      Community
  </a>

        </div>
    </div>
</div>

    <script src="script.js"></script>
</body>
</html>
